---
title: ETC资源
layout: resource
---

{% include header.html %}



<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>你要的各种ETC资源都在这里</h2>
</div>




  				<!--<div  class="lift-nav">
  					<nav>
  						<ul class="lift">
  							<li><a href="#intro">Welcome</a></li>
  							<li><a href="#one">Who we are</a></li>
  							<li><a href="#two">What we do</a></li>
  							<li><a href="#three">Get in touch</a></li>
  						</ul>
  					</nav>
  				</div>
        -->
        <div class="main">
<!-- 暂时不用
<div class="nav">
    <div class="a">
    <a href="#social">
    <span class="span" id="bg1">社交媒体</span>
    </a>
   </div>
</div>
<div class="nav">
    <div class="a">
    <a href="#group">
    <span class="span" id="bg2">ETC团队</span>
    </a>
   </div>
</div>

-->

<div class="nav">
    <div class="a">
    <a href="#wallet">
    <span class="span" id="bg3">钱包</span>
    </a>
   </div>
</div>
<div class="nav">
    <div class="a">
    <a href="#blockscan">
    <span class="span" id="bg4">区块浏览器</span>
    </a>
   </div>
</div>
<div class="nav">
    <div class="a">
    <a href="#exchange">
    <span class="span" id="bg5">交易所</span>
    </a>
   </div>
</div>
<div class="nav">
    <div class="a">
    <a href="#mine">
    <span class="span" id="bg6">矿场</span>
    </a>
    </div>
</div>
<div class="nav">
    <div class="a">
    <a href="#node">
    <span class="span" id="bg7">节点</span>
    </a>
    </div>
</div>
</div>

<br>
<br>
<br>
<br>

<main class="tags-content" >
    <ul class="tags-list">

       <!-- wallet -->
       <li >
        <div id="wallet">
           <h1>钱包</h1>
           <p>使用以下其中的一个钱包来存储和发送你的ETC。请使用最安全的硬件钱包。</p>
           <hr>
           <ul width=100%>
            <li>
            <b>硬件钱包：</b>
            <br>
            ⚪<a target="_blank" href="https://www.ledgerwallet.com/products/12-ledger-nano-s" >Ledger</a>
            ⚪<a target="_blank" href="https://trezor.io/" >trezor</a>
            </li>
           </ul>

           <ul>
            <li>
            <b>桌面端：</b>
            <br>
            ⚪<a target="_blank" href="https://github.com/ETCDEVTeam/emerald-wallet/releases" >Emerald</a>
            ⚪<a target="_blank" href="https://github.com/input-output-hk/mantis/releases/tag/v1.1-rc4" >Daedalus Mantis</a>
            ⚪<a target="_blank" href="https://www.exodus.io/" >Exodus</a>
            ⚪<a target="_blank" href="https://github.com/paritytech/parity/releases" >Parity</a>
            </li>
           </ul>

           <ul>
            <li>
            <b>移动端：</b>
            <br>
            ⚪<a target="_blank" href="https://guarda.co/wallet/etc" >Guarda</a>
            ⚪<a target="_blank" href="https://trustwalletapp.com/" >Trust</a>
            ⚪<a target="_blank" href="https://jaxx.io/" >JAXX</a>
            ⚪<a target="_blank" href="https://coinomi.com/" >Coinomi</a>
            </li>
           </ul>

           <ul>
            <li>
            <b>网页端：</b>
            <br>
            ⚪<a target="_blank" href="https://ethereumproject.github.io/etherwallet/" >Classic Ether Wallet</a>
            ⚪<a target="_blank" href="https://www.myetherwallet.com/" >My Ether Wallet</a>
            ⚪<a target="_blank" href="http://mycrypto.com/" >MyCrypto</a>
            ⚪<a target="_blank" href="https://saturn.network/saturn-wallet" >SATURN Wallet</a>
            </li>
           </ul>
       </div>
       </li>

       <!-- blockscan -->
       <li>
         <div id="blockscan">
           <h1>区块浏览器</h1>
           <p>使用下面这些便利的网页来检查交易情况。</p>
           <hr>
           <ul width=100%>
             <li>
               ⚪<a target="_blank" href="https://gastracker.io/" >Gastracker.io</a><br>
               ⚪<a target="_blank" href="http://etherhub.io/" >Etherhub.io</a>
               <p>(GitHub代码:https://github.com/ethereumproject/explorer/)</p>
               ⚪<a target="_blank" href="https://etcplanet.org/" >ETCPlanet.org </a>
               <p>(GitHub代码:https://github.com/cseberino/etcplanet)</p><br>
             </li>
           </ul>
         </div>
       </li>

       <!-- exchange-->
       <li>
         <div id="exchange">
           <h1>交易所</h1>
           <p>可在下面任何一个交易所中，通过交易来获取ETC，并已经在所有你所喜欢的交易所上线。</p>
           <p>注意：这里没有给出任何表单来对交易所质量或可靠性做认定，在交易所做交易时，请自行查阅相关资料。</p>
           <hr>
           <ul width=100%>
             <li>
               ⚪<a target="_blank" href="https://anycoindirect.eu/" >AnyCoinDirect</a><br>
               <br>
               ⚪<a target="_blank" href="https://www.binance.com/" >Binance</a>
               ⚪<a target="_blank" href="https://www.bithumb.com/" >Bithumb</a>
               ⚪<a target="_blank" href="https://www.bitfinex.com/" >Bitfinex</a>
               ⚪<a target="_blank" href="https://bisq.network/" >BitSquare</a>
               ⚪<a target="_blank" href="https://www.btctrade.im/" >BTCTrade.im</a>
               ⚪<a target="_blank" href="https://bitforex.com/" >BitForex</a>
               ⚪<a target="_blank" href="https://www.bitmex.com/app/trade/ETHM18" >BitMex</a>
               ⚪<a target="_blank" href="https://bittrex.com/Market/Index?MarketName=BTC-ETC" >Bittrex</a><br>
               <br>
               ⚪<a target="_blank" href="https://changelly.com/exchange/BTC/ETC/1" >Changelly</a>
               ⚪<a target="_blank" href="https://trans.chbtc.com/etc" >CHBTC</a>
               ⚪<a target="_blank" href="https://www.coindirect.com/buy/ethereum-classic" >Coindirect</a>
               ⚪<a target="_blank" href="https://www.coinex.com/" >CoinEx</a>
               ⚪<a target="_blank" href="https://coinone.co.kr/" >Coinone</a>
               ⚪<a target="_blank" href="https://coinswitch.co/" >CoinSwitch</a><br>
               ⚪<a target="_blank" href="https://c-cex.com/?p=etc-btc" >C-CEX</a>
               ⚪<a target="_blank" href="https://www.coinsuper.com/" >Coinsuper</a>
               ⚪<a target="_blank" href="https://www.cointiger.pro/" >CoinTiger</a>
               ⚪<a target="_blank" href="https://www.circle.com/en/invest" >Circle Invest</a>
               ⚪<a target="_blank" href="https://changenow.io/?utm_source=etc&utm_medium=ref&utm_campaign=etc_exchanges" >ChangeNow</a><br>
               <br>
               ⚪<a target="_blank" href="https://www.huobi.pro/" >Huobi</a><br>
               <br>
               ⚪<a target="_blank" href="https://www.kraken.com/" >Kraken</a>
               ⚪<a target="_blank" href="https://www.korbit.co.kr/etc_market" >Korbit</a><br>
               <br>
               ⚪<a target="_blank" href="https://lbx.com/" >London Block Exchange</a><br>
               <br>
               ⚪<a target="_blank" href="https://www.okex.com/" >OKEx</a><br>
               <br>
               ⚪<a target="_blank" href="https://poloniex.com/exchange#btc_etc" >Poloniex</a><br>
               <br>
               ⚪<a target="_blank" href="https://shapeshift.io/" >Shapeshift</a><br>
               <br>
               ⚪<a target="_blank" href="https://upbit.com/" >Upbit</a><br>
               <br>
               ⚪<a target="_blank" href="https://www.zb.com/" >ZB.com</a>
             </li>
           </ul>
         </div>
       </li>

       <!-- mine-->
       <li>
         <div id="mine">
           <h1>矿池</h1>
           <p>我们在全球范围内拥有许多矿池，可加入以下的矿池来挖ETC。</p>
           <hr>
           <ul width=100%>
             <li>
               ⚪<a target="_blank" href="https://etc.2miners.com/en" >2miners</a>
               ⚪<a target="_blank" href="http://www.91pool.com/" >91 Pool</a><br>
               <br>
               ⚪<a target="_blank" href="https://anorak.tech/" >Anorak.Tech</a><br>
               <br>
               ⚪<a target="_blank" href="http://clona.ru/" >Clona.ru</a>
               ⚪<a target="_blank" href="https://classicpool.io/" >ClassicPool</a>
               ⚪<a target="_blank" href="https://coinfoundry.org/" >Coinfoundry.org</a><br>
               <br>
               ⚪<a target="_blank" href="https://www.epool.io/#/" >Epool</a>
               ⚪<a target="_blank" href="https://etc.ethermine.org/" >Ethermine</a>
               ⚪<a target="_blank" href="http://etcpool.pl/" >ETCPool.pl</a>
               ⚪<a target="_blank" href="http://etc.extremehash.io/" >ExtremeHash</a><br>
               <br>
               ⚪<a target="_blank" href="https://www.f2pool.com/help" >F2pool</a>
               ⚪<a target="_blank" href="https://etc.fairpool.xyz/" >Fairpool.io</a><br>
               <br>
               ⚪<a target="_blank" href="https://etcpool.maxhash.org/" >MaxHash</a>
               ⚪<a target="_blank" href="https://minergate.com/" >MinerGate</a><br>
               <br>
               ⚪<a target="_blank" href="https://nanopool.org/" >Nanopool</a><br>
               <br>
               ⚪<a target="_blank" href="https://pandapool.io/" >Pandapool.io</a><br>
               <br>
               ⚪<a target="_blank" href="https://ucrypto.net/currency/?curr=ETC" >uCrypto.net</a>
               ⚪<a target="_blank" href="http://uupool.cn/" >UUpool</a><br>
             </li>
           </ul>
         </div>
       </li>

       <!-- node -->
       <li>
         <div id="node">
           <h1>节点</h1>
           <p>可通过使用下面的软件来运行ETC节点和帮助支持网络。</p>
           <hr>
           <ul width=100%>
             <li>
               ⚪<a target="_blank" href="https://github.com/ethereumproject/go-ethereum/releases" >Geth</a><br>
               ⚪<a target="_blank" href="https://github.com/paritytech/parity/releases" >Parity</a><br>
               ⚪<a target="_blank" href="https://github.com/input-output-hk/mantis" >Mantis </a><br>
               ⚪<a target="_blank" href="https://github.com/ethoxy/multi-geth/releases" >Multi-Geth </a>
             </li>
           </ul>
         </div>
       </li>
    </ul>
</main>




<!--  备份用
<li>
{% if site.recommend-tags and site.tags.size>0 %}
    {% for tag in site.tags %}
    <a href="#{{ tag[0] }}" class="tag">{{ tag[0]}}</a>
    {% endfor %}
{% endif %}
</li>

{% for tag in site.tags %}
<li>
    <span class="tag-name" id="{{ tag[0] }}">「{{ tag[0] }}」</span>
    {% for post in tag[1] %}
    <a class="tag-post" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    {% endfor %}
</li>
{% endfor%}
-->



{% include footer.html %}
